<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="sleep-entries">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Entries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sleep-stats">
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reminder">
      <ion-icon name="bulb-outline"></ion-icon>
      <ion-label>Reminder</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
